/* ----- General styles ----- */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px;
}
header{
    height: 125px;  
}
footer{
    background-color: rgb(108, 247, 166);
}
.fancy {
    font-family: 'Courier New', Courier, monospace, cursive;
    font-size: 75px;
    color:rgb(34, 127, 250);
    text-align: center;
    padding: 30px;
}
/* ----- Type ----- */
h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 300;
    color: rgb(9, 120, 211);
}
p, li {
    font-family: 'Times New Roman', Times, serif;
    line-height: 2em;
}
a:link{color:rgb(3, 250, 3)}
a:visited{color:rgba(3, 250, 3, 0.397)}
a:hover{
    color:rgb(3, 19, 250);
    text-decoration: underline;
}
a:active{color:rgb(3, 102, 250)}

/* ----- Modifier styles ----- */
.border{
    padding-top: 70px;
    padding-bottom: 70px;
}
